mat-table {
  overflow: auto;
  max-height: 600px;
}

.action-column {
  flex: 0 0 75px; //Jogar tudo para a direita com 75px de espaço
}

.action-column-header {
  flex: 0 0 75px;
}

.button-icon:hover {
  transform:scale(1.2);
}

mat-header-cell {
  font-size: 20px;
  font-weight: bold;
}

.icon-category {
  padding-left: 15px;
}
